.main{
    padding: 10px 150px 10px 150px;
}
#h{
    background-color: darkorchid;
    text-align: center;
    color:aliceblue;
    padding:5px;
    font-weight: bold;
    border-radius: 2px;
    width:50
}
.main1{
    background-color: bisque;
    justify-content: space-between;
    width:100%;
    display: flex;
    padding:5px;
}
.content{
    background-color: cornflowerblue;
}
#i{
    
    margin: 5px;
    justify-content: end;
}

#t{
    display: flex;
    justify-content: space-around;
}
#w{
    padding:5px;
    width:5%;
}
#de{
    padding:5px;
    width:5%;
}

